.progresstracker {
    margin-left: 0;
    margin-right: 0;
}
#af-review {
    background: url(/images/top-bg.png) no-repeat;
    background-size: 46%;
    border-bottom: 0;

}
#af-review-body {
    /* min-height: 1500px;
    background: url(/images/footer.png) 0px 103% no-repeat; */
    background-size: contain;
    padding: 35px 90px 0;
    font-family: 'Poppins', sans-serif;
}
.af-review-content {
    padding-top: 50px;
}
.head-logo {
    max-width: 260px;
    position: relative;
    left: -7%;
}
h1.estimate {
    font-size: 3.5rem;
    color: #3B96BA;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin: 0;
    line-height: 1;
}
.invoice-no {
    font-size: 17px;            
    font-weight: 500;
    line-height: 1
}
.ad-box {
    display: inline-flex;
    background: #3A96BA;
    border: solid 4px #3A96BA;
    color: #fff;
    margin-top: 60px;
    margin-bottom: 30px;
}

.ad-box small {
    padding: 20px 28px;
    background: #fff;
    color: #000;	
    font-weight: 500;
    font-size: 10px;
}
.ad-box span {
    align-self: center;    
    padding: 0 32px;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -1.5px;
}
.payment-methods .p1 {
    font-size: 16px;    
    font-weight: 500;
}

.payment-methods .p2 {
    font-size: 14px;
    font-weight: 500;
    color: #3B96BA
}

.payment-methods .p3 {
    font-size: 14px;
    font-weight: 300;
}

.payment-methods hr {
    border-top-width: 3px;
    border-top-color: #6E7071;
    margin: 10px 0 20px;
    width: 68%;
    margin-left: 32%;
}

.billto {
    width: 100%;
    display: inline-block;
    margin-top: 20px;
}
.client {
    font-size: 19px;
    margin:15px 0;
}
.hl {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}
.hl .d1 {
    margin-right: 15px;
}
.hl .d2 span {
    font-size: 14px;
    margin-top: 10px;
    display: inline-block;
    line-height: 1.2;
}

.af-div {
    border-top-color: #6E7071;
    border-top-width: 4px;
    margin: 10px 0 20px;
}

.af-div-mid {
    border-top-color: #F1F1F1;
    border-top-width: 1px;
    margin: 18px 0;
}

.rcl {
    width:75%;
    font-size: 14px;        
}

.rcl span {
    font-weight: 600;
}

.rcl p {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    margin-top: 8px;
}

.rcr {
    width: 35%;
    text-align: right;
    align-self: center;
    font-weight: 600;
}

.head-col {
    font-weight: 700;
    font-size: 14px;
}

.st1, .st2 {
    width: 50%;
}

.af-review-footer {
    /* position: absolute;
    width: 500px;
    margin-left: -30px; */
    color: #fff;
    /* font-size: 16px; */
    border-top: 0;
    position: relative;
    margin-bottom: 50px;
    overflow: hidden;
}

.af-review-footer > div {
    position: absolute;
    bottom: 50px;
    left: 100px;
    max-width: 400px;
}

.af-review-footer h5{
    font-size: 16px;
    font-weight: 700;
}

.af-review-footer p {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
    margin-top: 10px;
    margin-bottom: 30px;
}
.af-next {
    border-bottom: solid 1px #ccc;
   /* padding: 10px 0 80px;*/
}

.af-next input {
    margin-top: 0!important;
}

.af-next > span {
    font-size: 18px;
}

.af-next label {
font-weight: 400;
font-size: 13px;
margin: 15px 0;
position: relative;
transform: translateX(15%);
font-family: Armour;
}

.af-next label a{	
    color: #3A96BA;
}

.af-next .btn-alt {
border: 0;
/* padding-left: 10%; */
min-width: 400px;
color: #fff;
font-size: 14px;
background: #FBAD18;
}
.btn-green {
    background: #5EC100;
    color: #fff!important;
    font-size: 14px;
}
.share-alt span{
    font-size: 17px;
    font-weight: bold;
    padding-right: 10px;
    color: #000;
}
.share-alt img {
    max-width: 37px;
}

.errorTerms{color:#DB004C;display: none;}

.sign-here {        
    border-top: solid 1px #000;
    padding-top: 10px;
    margin-top: -75px;
    padding-bottom: 40px;
    max-width: 700px;
    transform: translateX(-50%);
    left: 50%;
    position: relative;
    z-index: -1;
}

.affiliate #preheader, 
.affiliate .sub-banner,
.affiliate #footer, 
.affiliate nav.menu-2 {display:none;}


@media all and (max-width: 1229px) {
    #af-review {background-size: 60%;}
    .af-review-footer > img {width: 120%;}
}

@media all and (max-width: 992px) {
    #af-review {background-size: 75%;}
    .af-review-footer > img {width: 150%;}

    h1.estimate {
        font-size: 2.8rem;     
    }    
}

@media all and (max-width: 768px) {
    #af-review-body {    
        padding: 50px 75px 0;        
    }

    .ad-box {     
        margin-top: 30px;        
    }

    .ad-box small {
        padding: 10px 10px;        
    }

    .ad-box span {        
        font-size: 18px;        
    }
}

@media all and (max-width: 767px) {
    .af-review-header > div {
        flex-direction: column;
    }

    .order2 { order:2}
    .order1 {order:1}
}

@media all and (max-width: 480px) {
    #af-review {
        background-size: 100%;
    }
    
    #af-review-body {
        padding: 50px 50px 0;
    }

    .head-logo {
        max-width: 200px;     
    }

    h1.estimate {     
        margin-top: 30px;
    }

    .order1 {text-align:center}

    .payment-methods hr {     
        width: 100%;
        margin-left: 0;
    }

    .body-col {
        flex-direction: column;
    }

    .body-col .rcl, .body-col .rcr{
        width: 100%;;
    }

    .totals .rcl {
        width: 10%;
    }

    .totals .rcr{
        width: 90%;
    }

    .af-review-footer > img {
        width: 250%;
    }

    .af-review-footer > div {     
        bottom: 10px;
        left: 30px;
        max-width: 300px;
    }

}

