@font-face {
    font-family: 'centrale_sansbook';
    src: url('/fonts/centralesans-book-webfont.eot');
    src: url('/fonts/centralesans-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/centralesans-book-webfont.woff2') format('woff2'),
         url('/fonts/centralesans-book-webfont.woff') format('woff'),
         url('/fonts//fonts/centralesans-book-webfont.ttf') format('truetype'),
         url('/fonts/centralesans-book-webfont.svg#centrale_sansbook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'centrale_sans_bold';
    src: url('/fonts/centrale_sans_bold-webfont.eot');
    src: url('/fonts/centrale_sans_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/centrale_sans_bold-webfont.woff2') format('woff2'),
         url('/fonts/centrale_sans_bold-webfont.woff') format('woff'),
         url('/fonts/centrale_sans_bold-webfont.ttf') format('truetype'),
         url('/fonts/centrale_sans_bold-webfont.svg#centrale_sans_bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'centrale_sans_boldbold_italic';
    src: url('/fonts/centrale_sans_bold_italic-webfont.eot');
    src: url('/fonts/centrale_sans_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/centrale_sans_bold_italic-webfont.woff2') format('woff2'),
         url('/fonts/centrale_sans_bold_italic-webfont.woff') format('woff'),
         url('/fonts/centrale_sans_bold_italic-webfont.ttf') format('truetype'),
         url('/fonts/centrale_sans_bold_italic-webfont.svg#centrale_sans_boldbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'centrale_sansmedium';
    src: url('/fonts/centralesansmedium-webfont.eot');
    src: url('/fonts/centralesansmedium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/centralesansmedium-webfont.woff2') format('woff2'),
         url('/fonts/centralesansmedium-webfont.woff') format('woff'),
         url('/fonts/centralesansmedium-webfont.ttf') format('truetype'),
         url('/fonts/centralesansmedium-webfont.svg#centrale_sansmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

.text-white {color: #fff!important;}
.text-dark {color: #444!important;}
.text-blue {color: #0685B4;}
.text-sky {color:#0AF8F9;}
.text-teal {color: #02adc6;}
.text-teal-blue {color:#47B4CC;}
.text-red {color:red;}
.text-lgray{color:#BFBEBE}


.bg-blue {background-color: #0685B4;}
.bg-dark-blue {background-color: #083D93;}
.bg-black {background-color: #000;}
.bg-white {background-color: #fff;}
.bg-teal {background-color: #02adc6;}
.bg-neonteal {background-color: #24DBE0!important;}
.bg-light-gray {background-color: #F4F4F4;}
.bg-sky-blue-opaque {background-color:rgba(0,125,191, 0.5);	}
.bg-brown {background-color: #D1C7BE;}
.bg-gray {background-color: #F5F5F5!important;}
.bg-darkgray {background-color: #D3D3D3!important;}
.bg-none {background: none!important;}
.bg-transparent {background-color: transparent!important;}


.text-underline{text-decoration: underline!important;}
.text-italic{font-style: italic;}
.text-decoration-none{text-decoration: none!important;}
.text-transform-normal{text-transform: none;}

@media all and (min-width: 992px) {
	.text-md-left {
		text-align: left;
	}
}

.w-100 {width:100%!important;}
.width-auto {width:auto;}

.w-70 {width: 70px;}
.w-120 {width: 120px;}
.w-180 {width: 180px;}
.w-500 {max-width: 500px;}
.w-600 {max-width: 600px;}

.mw-430 {max-width: 430px;}
.mw-500 {max-width: 500px;}
.mw-600 {max-width: 600px;}
.mw-700 {max-width: 700px;}
.mw-900 {max-width: 900px;}
.mw-100p {max-width: 100%!important;}

.position-relative {position: relative;}
.position-absolute {position: absolute;}
.overflow-hidden {overflow: hidden;}
.overflow-scroll {overflow: scroll;}
.overflow-x-scroll {overflow-x: scroll;}

.center-absolute {position: absolute;top: 0;left: 0;right: 0;bottom: 0;}

.border {border: solid 1px #000;} .border-0 {border:0!important;} .bottom-0 {bottom:0;}

.line-height-1 {line-height: 1;} .line-height-1-2 {line-height: 1.2!important;} .line-height-1-5 {line-height: 1.5;} 
.line-height-2 {line-height: 2!important;} .line-height-2-5 {line-height: 2.5!important;}

.font-size-13 {font-size: 13px!important;} .font-size-14 {font-size: 14px!important;} .font-size-15 {font-size: 15px!important;}
.font-size-16 {font-size: 16px!important;} .font-size-18 {font-size: 18px!important;} .font-size-20 {font-size: 20px!important;}
.font-size-22 {font-size: 22px!important;} .font-size-24 {font-size: 24px!important;} .font-size-26 {font-size: 26px!important;}
.font-size-28 {font-size: 28px!important;} .font-size-32 {font-size: 32px!important;} .font-size-40 {font-size: 40px;} .font-size-46 {font-size: 46px!important;}

.font-weight-extrabold {font-weight: 900;}
.font-weight-light {font-weight:300!important;}
.font-weight-bold {font-weight: bold!important;}
.font-weight-semibold {font-weight: 600!important;}
.font-weight-medium {font-weight: 500!important;}
.font-weight-normal {font-weight: normal;}
.font-italic {font-style: italic;}

.font-raleway {font-family: 'Raleway';}
.font-opensans {font-family: 'Open Sans';}
.font-armour {font-family: 'Armour';}
.font-centrale-sansbook {font-family: 'centrale_sansbook'!important;}

.letter-spacing-1 {letter-spacing:1px;}
.letter-spacing-n1 {letter-spacing:-1px;}
.letter-spacing-2 {letter-spacing:-2px;}

.d-flex {display: flex;}
.d-block {display: block!important;}
.d-inline-block {display: inline-block;}
.d-none {display: none;}

.justify-content-between {justify-content: space-between;}
.justify-content-left {justify-content: left;}
.justify-content-center {justify-content: center;}
.justify-content-right {justify-content: right;}
.align-center {align-items: center;}

.modal-open {
    overflow: hidden;
    padding-right: 0 !important;
}

.list-bullet li {list-style: disc;}


.medium-title {font-family: Raleway;font-weight: 700;font-size: 14px;letter-spacing: 0px;}

.margin-auto {margin:0 auto;}
.mt-0 {	margin-top: 0!important;} .mb-0 {margin-bottom: 0;} .ml-0 {margin-left: 0!important;} .mr-0 { margin-right: 0;}
.mt-10 {margin-top: 10px!important;} .mb-10 {margin-bottom: 10px;} .ml-10{ margin-left: 10px;} .mr-10{ margin-right: 10px;}
.mt-20 {margin-top: 20px;} .mb-20 {margin-bottom: 20px;} .ml-20{ margin-left: 20px;} .mr-20{ margin-right: 20px;}
.mt-30 {margin-top: 30px;} .mb-30 {margin-bottom: 30px;} .ml-30{ margin-left: 30px;} .mr-30{ margin-right: 30px;}
.mt-40 {margin-top: 40px;} .mb-40 {margin-bottom: 40px;} .ml-40{ margin-left: 40px;} .mr-40{ margin-right: 40px;}
.mt-50 {margin-top: 50px;} .mb-50 {margin-bottom: 50px;} .ml-50{ margin-left: 50px;} .mr-50{ margin-right: 50px;}
.mt-60 {margin-top: 60px;} .mb-60 {margin-bottom: 60px;} .ml-40{ margin-left: 60px;} .mr-60{ margin-right: 60px;}
.mx-0 {margin-left: 0;	margin-right: 0;} .mx-10 {margin-left: 10px;margin-right: 10px;} .mx-20 {margin-left: 20px;	margin-right: 20px;} .mx-30 {margin-left: 30px;margin-right: 30px;} .mx-40 {margin-left: 40px;margin-right: 40px;} .mx-50 {margin-left: 50px;margin-right: 50px;}  .mx-60 {margin-left: 60px;margin-right: 60px;}
.my-0 {margin-top: 0px;margin-bottom: 0px;} .my-10 {margin-top: 10px;margin-bottom: 10px;}  .my-15 {margin-top: 15px;margin-bottom: 15px;} .my-20 {margin-top: 20px;margin-bottom: 20px;} .my-30 {	margin-top: 30px;	margin-bottom: 30px;} .my-40 {	margin-top: 40px;	margin-bottom: 40px;}  .my-50 {	margin-top: 50px;	margin-bottom: 50px;} .my-60 {margin-top: 60px;margin-bottom: 60px;}

.m-0 { margin: 0!important;} .m-10  {margin:10px;} .m-20 { margin:20px;} .m-30 {margin:30px;} .m-40 {margin:40px;} .m-60 {margin:60px;}


.pt-0 { padding-top: 0;} .pb-0 { padding-bottom: 0;} .pr-0 {padding-right: 0;} .pl-0 {padding-left: 0;} 
.pt-10 {padding-top: 10px;} .pb-10 {padding-bottom: 10px;} .pl-10 {padding-left: 10px;} .pr-10 {padding-right: 10px;}
.pt-15 {padding-top: 15px;} .pb-15 {padding-bottom: 15px;} .pl-15 {padding-left: 15px;} .pr-15 {padding-right: 15px;}
.pt-20 {padding-top: 20px;} .pb-20 {padding-bottom: 20px;} .pl-20 {padding-left: 20px;} .pr-20 {padding-right: 20px;}
.pt-30 {padding-top: 30px;} .pb-30 {padding-bottom: 30px;} .pl-30 {padding-left: 30px;} .pr-30 {padding-right: 30px;}
.pt-40 {padding-top: 40px;} .pb-40 {padding-bottom: 40px;} .pl-40 {padding-left: 40px;} .pr-40 {padding-right: 40px;}
.pt-50 {padding-top: 50px;} .pb-50 {padding-bottom: 50px;} .pl-50 {padding-left: 50px;} .pr-50 {padding-right: 50px;} 
.pt-60 {padding-top: 60px;} .pb-60 {padding-bottom: 60px !important;} .pl-60 {padding-left: 60px;} .pr-60 {padding-right: 60px;}
.px-0 {padding-left: 0;	padding-right: 0;} .px-10 {padding-left: 10px;	padding-right: 10px;} .px-20 {padding-left: 20px; padding-right: 20px;} .px-30 {padding-left: 30px;padding-right: 30px;} .px-40 {padding-left: 40px;padding-right: 40px;} .px-50 {padding-left: 50px;padding-right: 50px;} .px-60 {padding-left: 60px;padding-right: 60px;}
.py-0 {padding-top: 0px;padding-bottom: 0px;} .py-10 {padding-top: 10px;padding-bottom: 10px;} .py-20 {padding-top: 20px; padding-bottom: 20px;} .py-30 {	padding-top: 30px;	padding-bottom: 30px;} .py-40 {	padding-top: 40px;	padding-bottom: 40px;} .py-50 {	padding-top: 50px;	padding-bottom: 50px;} .py-60 {	padding-top: 60px;	padding-bottom: 60px;}

.p-0 {padding: 0!important;} .p-10 {padding: 10px;} .p-20 {padding: 20px!important;} .p-30 {padding: 30px;}  .p-40 {padding: 40px;} .p-50 {padding: 50px;} 
.shadow {box-shadow:0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important}

.float-right {float:right;}

.cursor-pointer {cursor: pointer;}

.show-mobile {display: none;}

.fancybox-opened {z-index:99999!important;}
.fancybox-close {position: fixed!important;background: none!important;color: #fff;}
.fancybox-close::before {content: 'x';font-size: 45px;line-height: 10px;font-family: raleway;font-weight: 500;}

#preheader {
	display: flex;
	color: #fff;
	background: #5EC100;
	padding: 20px;
	font-family: 'Raleway';
	font-size: 18px;
}

#preheader .pht{
	display: flex;
	justify-content: space-between;
}

#preheader .phl > span, 
#preheader .phl > span b  {
	font-weight: bold;
	color: #fff;
}

#preheader .phl > span.csm {
	font-weight: normal;
}

#preheader .phr {
	font-weight: bold;
}

.hr-teal {
	background: #02ADC6;
	height: 6px;
	width: 110px;
	margin-top: 10px;
	border: 0;
}

#mobile-quote-home, .tp-banner-mobile {display: none;}

.headerSliderWrap .owl-item .slide-block > img, .headerSliderWrap .owl-item .slide-block .video-section > img {width:100%;}
.owl-theme .owl-controls .owl-page span {width: 7px;
    border-radius: 4px;
    height: 7px;}

/*** MODAL ***/
.modal {top:15%!important;width:100%;height: 100%;}
.modal-lg {width: 40%!important;}
.modal .modal-header {border:0!important;}
	.modal .modal-header .close {background: #000;color: #fff;opacity: 1;padding:0px 8px;;border-radius: 4px;font-size: 25px;}

.modal .modal-body {padding: 45px 45px 30px;}
	.modal .modal-body h6 {line-height: 70px;}
		.modal .modal-body h6 span{font-weight: 100;} 
	.modal .modal-body p {font-family: Raleway; font-size: 14px;}
	.modal .modal-body input[type=text], .modal .modal-body textarea,
	.modal .modal-body select {background: #F7F7F7;width: 50%;padding: 0 12px;border: solid 1px #b1b1b1;height: 48px;border-radius: 5px;margin:5px;display:inline!important}
	.modal .modal-body form {padding: 15px; margin: 0 auto;}
	.modal .modal-body .btn-yellow {padding:11px 40px !important;text-decoration: none;color: #0F0F0F;letter-spacing: 0px;}
	.modal .modal-body .btn-gray {background:#D8D8D8!important; color:#fff!important;text-decoration: none;padding: 11px 40px !important; }

	.modal .modal-body .p-bold {font-weight:800;}
	.modal .modal-body .p-large {font-size:18px;padding-top: 20px;}
	

	.modal .modal-body a {color: #02ADC6;text-decoration: underline;font-size: 18px;font-weight: 600;}
	.modal .modal-body .link{padding-top:70px;}
	.modal .modal-body ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */color: #ccc; opacity: 1; /* Firefox */}

	.modal .modal-body .styledCheckbox {display: inline-block;margin: -10px 10px;}

.modal #step2.modal-body #address  {padding: 50px 0;}
.modal #step3 #find-zip {width:75%;}  
.modal #step4.modal-body {padding: 50px 70px 130px;}
.modal #step_address.modal-body input[type=text], .modal #edit_address.modal-body input[type=text]{width:45%;} 

#modalGetQuote.modal .modal-body a#my-location {
	width: 400px;
	text-align: left;
	display: inline-block;
	text-decoration: underline;
	color: #333;
	font-size: 1rem;
	font-weight: normal;
	line-height: 1;
}

#modalGetQuote.modal .modal-body a#my-location img {max-width: 20px;}

#home-overlay-main {
	position:absolute;
	overflow:hidden;
	max-height:745px;
	width:100%
}

#home-overlay-main #audio-toggle {
    position: absolute;
    top: 10px;
    right: 40px;
    color: #FFF;
    width: 20px;
    bottom: 60px;
	cursor:pointer!important;
	z-index: 30;
}

#home-overlay-main #audio-toggle.audio-off > img.toggle-sound-off, #home-overlay-main #audio-toggle.audio-on > img.toggle-sound-on{
    display: inline;
}

#home-overlay-main #audio-toggle.audio-on > img.toggle-sound-off, #home-overlay-main #audio-toggle.audio-off > img.toggle-sound-on {
    display: none;
}

#home-slider ul.slick-dots {display: block; margin: 0; padding: 0; list-style-type: none; width: 100%; position: absolute; bottom: -8%; left: 0; text-align: center; }
#home-slider ul.slick-dots li {display: inline; margin: 0; padding: 0 5px; line-height: 1; }
#home-slider ul.slick-dots li > button {background: transparent; border: solid 1px #A8A5A5; text-indent: -99999px; border-radius: 12px; display: inline-block; height: 10px; width: 10px; padding: 0; margin: 0; }
#home-slider ul.slick-dots li.slick-active > button {background: #1BA4E2; }

.services-two {
	padding-bottom: 0;
}
.services-two .service-sec .icon {
	display:flex;
	justify-content: center;
	align-items: center;
	background-color: #0685B4;
}

.services-two .service-sec .icon.opacity-80 {
	background-color: rgba(6,133,180,.8);
}

.services-two .service-sec .icon.opacity-60 {
	background-color: rgba(6,133,180,.6);
}

.services-two .service-sec .icon > img {
	width: auto;
}

.services-two .foot {
	position: absolute;
	bottom: 0;
	text-align: left;
	font-family: Raleway;
	font-size: 15px;
	font-weight: 300;	
	padding-left: 5vw;
	padding-bottom: 10px;
}

.services-two .mbg {
	position: absolute;
	top: 0;
	right: 0;	
	transform:translate(20%, 50%)
}

.services-two .mbg h2 {
	color: #34BDD1;
	max-width: 200px;
	line-height: 1;
	font-size:24px!important;
}
.services-two .mbg h2::before {
	content: '*';
	position: absolute;
	left: -20px;
	font-size: 50px;
	line-height: 1;
}

.services-two .mbg h2 span{
	font-weight: 300;
	color: #444;
}
.services-two .mbg p {
	max-width: 300px;
	margin-top: 30px;
	line-height: 1;
}



/*** SERVICES ***/
.svc-items-container {max-width: 90%;}
.sub-banner {position: relative;}
.bn-text {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	justify-content: center;
	align-items: center;
}

.sub-banner .bn-text img {
	max-width: 210px;
}

.sub-banner .bn-text h1 {
	font-family: 'Raleway';
	font-size:52px;
	font-weight:bold;
	color: #fff;
	margin-left: 30px;;
}
.bg-svc-vid-gradient{	
		background: linear-gradient(272deg, #224fe6 28%, rgba(17, 40, 115, 0) 100%);
		/* background: #000; */
		position: absolute;
		top: 0;
		left: 0;		
		right: 0;
		bottom: 0;
		/* opacity: 0.30; */
		opacity: 0.1;
}

.dr-quote .svc-vid h2.quote {
	font-size: 56px;
	font-family: 'Raleway', sans-serif; font-weight:800; color:#fff;   display: inline-block; margin:20% 0 0 0;
} 
.dr-quote .svc-vid span.name {
	font-size: 28px;
	font-weight: 500;
}
.dr-quote .svc-vid ul {
	font-size: 18px;
	font-weight: 500;
	padding: 10px;
	line-height: 1.75;
}

.svc-items .rdg {
	background: radial-gradient(#2b4277, #000);
}
.svc-items .t1, .svc-items .t2 {
	top:25%;	
}

.svc-items .t1 {
	left:17%;
}
.svc-items .t2 {
	right: 13%;
	max-width: 360px;
}

.svc-items  ul {
	font-family: Raleway;
	font-weight: 500;
	line-height: 1.5;
	font-size: 15px;
}
.svc-items  ul li {
	margin-bottom: 15px;
}

.services .kz {
	padding:50px 0 20px;
}

.services .kz.uvdd {
	padding:0;
}

.services .kz.uvdd .kz-row-l { 
	padding-top: 40px;
}

.services .kz h2{	
	font-size: 75px;
	line-height: 1;
	margin: 0;
	padding: 0;
	color: #8CE4F0 !important;
	font-weight: bold;
	padding-bottom: 20px;	
}

.services .kz.uvdd h2{
	font-size: 60px;
}

.services .kz h3{	
	font-size: 30px;
	font-weight: 700;
	font-family: 'Raleway', sans-serif;
	text-transform: none;	
}

.services .kz.uvdd h3{
	font-size: 25px;
}

.services .kz img{	
	max-width: 310px;;
}

.services .kz ul {
	font-size: 18px;
	line-height: 1.75;
}

.services .kz.uvdd ul {	
	line-height: 1.5;
}

.services .kz small {
	font-style: italic;
	margin-top: 20px;
	display: inline-block;
}

.services .pxug h2 {
	font-weight: 800;
	font-size: 40px;
}
.services .pxug h2.puvc::after {
	content: 'vs';
	position: absolute;
	font-weight: 300;
	margin-left: 12px;
	font-size: 40px;
}

.services .pxug h2 span {
	font-weight: 300;
}
.services .pxug img {
	max-width: 100%;
}

.services .pxug p {
	font-family: Raleway;
	font-size: 14px;
	line-height: 1.5;

}

.services .uvc-list .d1 img {
	width: auto;
	display: block;
	float: left;
	margin-right: 15px;	
}
.services .uvc-list .d1 span {
	font-size: 14px;
	font-family: Raleway;
}

.services .obs-av .c2{
	padding: 60px 70px;
	/* align-items: flex-start; */
}

.services .obs-av .c2 h3{
	font-size:28px;
	text-transform: none;
}

.services .auto-c h3 {
	font-size: 28px;
	text-transform: none;
}

.services .uvdd-gz-pic {
	width: 85%;
}

.services .contact-f .form{
	max-width: 450px;
	margin: 0 auto;
}

.services .contact-f .form .cb{	
	display: flex;
	align-items: baseline;
	font-size: 13px;
	line-height: 1.2;
	flex-direction: row;
	width: 100%;
	padding-bottom: 30px;
	padding-top: 20px;
}

.services .contact-f .form .cb input{	
	margin-top: 0!important;
}

.services .contact-f .form #btnGetQuote {
	width: 100%;
	background: #000;
	color: #fff;
	padding-top: 12px;
	padding-bottom: 12px;
	font-weight: bold;
	border:0;
	border-radius: 5px;
}

.services .contact-f .form #btnGetQuote:hover {
	opacity:.8;
}

/** ELECTROSTATIC DISINFECTION **/
.services .eds1 .btn {
	bottom: 25px;
	left: 50%;
	transform: translateX(-58%);
	position: absolute;
	padding:10px 25px;
}

.services .eds1 .txt {
	color: #fff;
	position: absolute;
	top: 29%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 90%;
}

.services .eds1 .txt h2 {
	font-size: 32px;
	font-weight: 600;
}

.services .eds1 #esds {
	position: absolute;
	bottom: 20%;
	color: #7AE0EF;
	font-weight: 600;
	font-style: italic;
	font-size: 13px;
	right: 7%;
}

.services .ecomp {
	font-weight: 500;	
	padding-left: 15px;	
}

.services .gbc {
	height: 610px;
	overflow: hidden;
}

.services .gbc .cvid {
	padding:56.28% 0 0 0;
	position:relative;
	top:-65%
}
.services .gbc .ctext {
	position: absolute;
	max-width: 600px;
	text-align: center;
	bottom: 0;
	left: 0;
	right: 0;	
	font-family: Raleway;
	color: #fff;
}

.services .gbc ul {
	max-width: 400px;
	margin:20px auto 0;
	font-size: 14px;
	text-align:left;
}

.services .ecomp li, .services .gbc li, .services .gbc-hvac li {
	position: relative;
	line-height: 1.5;	
	font-family: Raleway;
}

.services .ecomp li::before, .services .gbc li::before, .services .gbc-hvac li::before {
	content: '';
	font-size: 30px;
	position: absolute;
	left: -15px;
	font-weight: 900;
	width: 5px;
	height: 5px;
	background: #ACF89E;
	border-radius: 10px;
	top: 50%;
	transform: translateY(-50%);
}

.services .ecomp li {
	line-height: 1.75;
}

.services .ecomp li::before, .services .gbc-hvac li::before {
	background: #02ADC6;
}

.services .gbc .btn.btn-yellow.bp {
	padding:10px 20px;		
	letter-spacing: normal;
}


.services .uvc-hvac-img {
	left: 0;
	transform: translateX(-120%);
}

.services .gbc-hvac {
	bottom: 100px;
	right: -50px;
	color: #fff;
	font-family: Raleway;
	font-size: 15px;
	line-height: 2;
}

.services .gbc-hvac li {
	line-height: 2;
}

.services .btn.btn-outline {
	border: 1px solid #000;
	padding: 10px 25px;
	color: #000;
	font-size: 19px;
	font-family: raleway;
	font-weight: bold;
	margin-top: 20px;
	border-radius: 10px;
}

.services #applications .txt {
	width: 400px;
	padding: 20px 40px 40px;
}

.services #applications .txt h2 {
	font-size: 25px;
	margin-bottom: 10px;
}
.services #applications .txt p {
	font-size: 15px;
	line-height: 1.5;
}

.services .wo-girl {	
	max-width: 300px;
	position: relative;
	left: -100px;	
}

.services .wo-quote {	
	font-weight: 600;
	font-family: Raleway;
	font-size: 13px;
	font-style: italic;
	position: relative;
}

.services .wo-quote span.rq {	
	font-size: 250px;
	line-height: 13px;
	position: absolute;
	bottom: 50%;
	font-style: normal;	
	font-family: Raleway;
	font-weight: 900;
	color: #02ADC6;
	transform: scaleX(-1) rotate(180deg);
	opacity: 0.4;
	right:30%;
}
.services .comm-uvac {
	margin-left: 5%;
	margin-top: 5%;
}

/* .services .gz-tiles .bg {
	padding: 0 6%;
	margin: 40px 0 40px;
	background: #47B4CC;
} */

.services .gz-tiles .bg {
	padding: 8% 6%;
	margin: 0;
	background: #47B4CC;
	/* height: 330px; */
	/* width: 430px; */
	align-self: center;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
}

.services .gz-tiles .bg::after {
	content: '';
	position: absolute;
	top: 0;
	right: -30px;
	height: 100%;	
	width: 30px;
	background: #47B4CC;	
}

.services .gz-tiles .gz-img {
	max-width: 600px;
}


.services .gz-tiles .txt {
	font-family:Raleway;
	font-weight: bold;
	font-size:24px;
	color:#fff;
	/* position: relative;
	top: 35%; */
}

.services .gz-tiles .btn-watch{
	padding: 10px 62px;
	background: #0AF8F9;
	/* top: 60%;
	position: relative;
	right: 18%; */
	color:#083D93;
	font-family:Raleway;
	font-weight: bold;
}

.services .uvdd-gz .bg-white-filler {
	position: absolute;
	width: 100%;
	background: #fff;
	height: 120px;
	top: 0;
}

  /* ------- TRUSTED BY ------------------------------ */
#trustby {padding:30px 0;}
#trustby .trustby-cont {border-top: 2px solid #ccc;border-bottom: 2px solid #ccc;padding-bottom: 50px;}
#trustby span {line-height: 3.5;vertical-align: middle;min-height: 80px;font-weight: bold;font-size:14px;color:#6B6B6E;}
/* #trustby img {vertical-align:middle; /*padding:0 2%;*/max-width: 80%;} */
#trustby div {text-align: center;}
/* #trustby .brand-logos div {float:left;padding:0 20px;} */
/* #trustby div.brand-logos .slick-slide {padding:0 8px;} */
#trustby div.brand-logos {display: flex;flex-wrap: nowrap;overflow-x: auto; padding-bottom: 10px;}

#trustby .brand-logos div {
	float: left;
	padding: 0px; 		
}

#trustby .brand-logos .slick-slide > div > div {
	margin:0 30px;
	display: flex!important;
	justify-content: center;
	align-items: center;
	min-height: 100px;
}

#trustby img {
	max-width: 100%;
}

#trustby div.brand-logos .slick-slide {
	padding: 0px;
	
}

 

/*** APPLICATIONS ***/
.applications-banner-text {
	margin-top: 23%;
}


#applications .txt {
	position: absolute;
	right: 40px;
	bottom: 30px;
	color: #030303;
	width: 47%;
	background: rgba(255,255,255,0.7);
	padding: 30px;
}

#applications .txt.left {
	left:40px;
	right:auto;
}

#applications .txt.top {
	top:30px;
	bottom:auto;
}

#applications .txt p {
	font-size: 13px;
	line-height: 1.8;
}

#applications hr{
	background: #02ADC6;
	height: 6px;
	width: 110px;
	margin-top: 10px;
	border:0;
}


/*** SERVICES STEPS ***/
#services-main {padding: 20px 20px 0 80px;}

.styledCheckbox {
    border: 1px solid #ccc;
	border-radius: 5px;
	background: #fff;
	width: 28px;
	height: 28px;
	padding-top: 5px;
	/*margin:0 auto;*/
	cursor:pointer;
	display: inline-block;
	margin: -10px 10px;
}

.styledCheckbox .fas.fa-check{display: none;margin-left:5px;}

.styledCheckbox.sel i {
    display: block!important;
}

.promo-area .styledCheckbox {display: inline-block;padding-right: 5px;margin: -10px 2px;}
.promo-area .label {display: inline-block;}
.promo-area .styledCheckbox .fas.fa-check{font-size: 1rem;}
.promo-area .form__field label {font-weight: 500;font-family: Open Sans;}


/*** COMMERCIAL PAGE ***/
.commercial .styledCheckbox {margin:-10px 10px;display: inline-block;}
.commercial .main-title {margin:50px 0 0;}
.commercial h6 {font-weight: 700;font-size: 22px;color: #02adc6;}
.commercial .form {padding:0 100px;}
.commercial .border-b {border-bottom: 1px solid #ccc;padding:20px 0;}



/*** SUCCESS PAGE ***/
.success .main{background: #F7F7F7;padding: 40px;border-radius: 5px;}
.success h2 {font-weight: 100;}
.success p {line-height: 2;}
.success p.txt{line-height: 2;font-weight: 500;padding: 50px 0;color: #807F7F;}
.success .title {font-weight: 700;font-family: Raleway;color: #222;}
.success .hdr-txt {font-size: 2.5rem; margin-top:40px;}
.success hr {background: #02ADC6;height: 6px;width: 220px;margin-top: 10px;border: 0;}
.success .box {background: #fff;padding: 20px 30px;border-radius: 10px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}

/*** CONTACT ***/
#contact .footer-light{background-color: #F5F5F5;margin-top:0px;}


/*** UV DISINFECTION ROBOT ***/
.uvdr-ca {top: 50%;left: 50%;transform: translate(-50%, -50%);}
.uvdr-ca .svc-items .ul1, .uvdr-ca .svc-items .ul2 {top: 30%;}
.uvdr-ca .svc-items .ul2 {right: -15%;}


/*** FOOTER ***/
#footer-section-1 {display: flex;align-items: center;padding: 20px 0;}
#footer-section-2 {padding: 40px 0;}

.footer-logo {max-width: 350px;display: inline-block;}
.footer-nav .logo img {width:auto;}

.footer-links a {color:#fff;margin:0 10px;font-family: Raleway;font-weight: bold;}
.footer-links a:hover {color:#0685B4}

.footer-light .footer-bottom .social-icons a {
	border:transparent;
	padding: 0;
	font-size: 28px;
	color: #fff;
	border-radius: 0;
	margin:0 10px;
}
.footer-light .social-icons a.fb:hover {
	color: rgba(255,255,255,0.6);
	border:transparent;
	background: none;
	
}
.footer-light .social-icons a.tw:hover {
	color: rgba(255,255,255,0.6);
	border:transparent;
	background: none;
}


/*** ESTIMATE - INVOICE - WEB INQUIRES ***/
.admin-list .title  {border-bottom:solid 2px #ccc;font-weight: 700;font-family: Raleway;font-size: 14px;padding-bottom:8px;} 
.admin-list .add-estimate {float: right;}
.admin-list .data span {padding:10px 15px;}
.admin-list #preheader, 
#estimate_list #footer, #estimate #preheader, #estimate #footer,
.germzapper #preheader, .germzapper #footer {display:none;}

#estimate .removeService::before{content: 'x';font-size: 26px;line-height: 10px;font-family: raleway;font-weight: 700;float:right;color:red;}

#estimate_list .table-scroll .table-scroll-width {width: 1170px;}


/*** recaptcha ***/
.g-recaptcha-response {visibility: hidden}


/*** from accordion.css ***/
.input {
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 31%;
    margin: 0 35px 16px 0;
    vertical-align: top;
}


@media all and (max-width: 1450px) {
	
}


@media all and (min-width: 769px) and (max-width: 1229px) {
	.welcome-two .welcome-detail ul li {		
		width: 75%;
		line-height: 2;
	}
	.sub-banner .bn-text img {
		max-width: 130px;
	}
}

@media all and (max-width: 1169px) {
	#get_quote_list .table-scroll .table-scroll-width {width:1170px;}
	#estimate_list .table-scroll, #get_quote_list .table-scroll {
		overflow-x: scroll;
	}
}

@media all and (max-width: 1024px) {

	#home-overlay-main {
		position: relative;
		overflow: visible;
	}

	/* .uvdr-ca .svc-items {
		padding: 0 100px;
	} */

	.uvdr-ca .svc-items .ul2{ 
		right: -30%;
	}


}

@media all and (max-width: 992px) {
	.usr-info .input { width: 100%!important;}

}

@media all and (max-width: 991px) {
	.uvdr-ca {
		position: relative;
		margin: 0;
		padding: 90px 0;
		top: 0;
		transform: none;
		left: 0;
	}
	.uvdr-ca .svc-items ul{ 
		position: relative;
	}
	.uvdr-ca .svc-items {
		padding: 0 50px;
	}

	.uvdr-ca .svc-items .ul1, .uvdr-ca .svc-items .ul2{ 
		right: 0;
		top: 0;
		left: 25%;
		width: 400px;
	}

	.uvdr-pic {
		display: none
	}


	.uvdr-gq {position: relative;}

	.f-wrap {
		flex-wrap: wrap;
	}

	.f-wrap > div {
		padding-left: 0;
		margin-right: 15px;
		margin-bottom: 15px;
	}

}


@media all and (max-width: 768px) {

	.logo img {width: 222px;}

	#preheader .pht {
		flex-direction: column;
	}
	#footer-section-1 {
		flex-direction: column;
	}
	.footer-links a {
		text-align: center;
		display: block;
		margin:10px 0;
	}
	#footer-section-2 .rcol {
		margin-top: 20px;
		text-align: center;
	}

	
	.main-title h2 br {
		display: none;
	}
	.dr-quote h2.quote {
		font-size: 36px!important;
	}

	.dr-quote span.name br{
		display: none;
	}

	.services-three {flex-direction: column;}
	.services-three .serv-sec {width: 100%;}

	.services-two {
		padding-top: 50px;;
	}

	.services-two  > .container > .row.position-relative {
		display: flex;
		flex-direction: column;
	}

	.latest-news .main-title h2 {text-align: center;}
	.latest-news .main-title p {width: 100%;text-align: center;}

	.welcome-two .welcome-detail ul li {
		width: 49%;	
		line-height: 2;
	}

	/*** APPLICATIONs ***/
	#applications .h2 {font-size: 20px;}
	#applications .txt p {font-size: 10px;}


	/*** NEWS ***/
	#news .list h1 {font-size: 18px;}

	/*** SIGN IN ***/
	#signin .form {margin:20px!important;}
	#signin .main {width: auto;margin: 20px;}

	#home-overlay-main #audio-toggle {display: none;}
	.owl-carousel {display: block;}


	.uvc-list, .obs-av {
		flex-direction: column;
	}

	.obs-av > div.c1 {
		padding-left: 0;
	}

	/*** UV DISINFECTION ROBOT ***/
	.services .gz-tiles .txt {
		font-size: 14px;
		top:15%;
	}

	.services .gz-tiles .btn-watch {
		top: 35%;
		right: 0%;
	}

	.commercial .form {
		padding: 0 20px;
	}

	.form #commercial-form .half {
		width: 100%!important;
	}


}

@media all and (max-width: 560px) {
	
	/*** cleaning-quote/modify-services ***/

	.tbl-cont {overflow-x: scroll;}
	.tbl-cont-scroll {width:600px;}

	/*pre headre*/
	#preheader {
		text-align: center;
		font-size: 16px;
	}
	#preheader .phl > span {
		font-weight: 600;
	}
	
	#preheader .phl > span b {
		font-weight: bold;
		font-size: 22px;
		display: inline-block;
		width: 100%;
		line-height: 1;
	}
	
	#preheader .phl > span.csm {
		font-weight: normal;
		font-size: 14px;
		font-style: italic;
	}

	body#home #mobile-quote-home, .tp-banner-mobile {display: block;}
	#mobile-quote-home {position: absolute;}
	#mobile-quote-home {
		font-size: 14px;
		width:63%;
		margin-left:-10px;
		top: 100%;
	
	}
	
	#mobile-quote-home .bottom-part {
		padding: 10px 20px;
		font-size: 14px;
	}



	.tp-banner-mobile .bnr-cont h1 {
		font-size: 32px;
		color: #fff;
		font-family: Raleway;
		font-weight: 700;	
		line-height: 1;
		text-align: center;
		padding: 0 20px;
	}

	.bnr-cont {top:30%;position: absolute;width: 100%;}
	
	.tp-banner-mobile .bnr-cont span {
		color: #fff;
		text-align: center;
		width: 100%;
		display: inline-block;
	}

	.modal-lg {
		width: 95% !important;
	}

	#modalGetQuote {
		z-index: 99998;
	}

	.modal .modal-body h6 {
		line-height: 1.5;
	}

	.modal .modal-body {
		padding: 20px;
	}

	.modal .modal-body .btn-gray, .modal .modal-body .btn-yellow {
		padding:11px 30px !important;
		font-size:11px;
	}

	.modal .modal-body input[type="text"], .modal .modal-body select{
		height:38px;
	}
	.modal .modal-body p{
		font-size:13px!important;
	}

	.modal .modal-body p br {
		display: none;
	}

	.dr-quote {
		background-position: -600px -150px;
	}

	.modal .modal-body form {
		padding-bottom:0;	
	}

	#modalGetQuote.modal .modal-body a#my-location {
		margin-left: 20px;;
	}

	.modal #step3 h6 {
		padding: 0 30px;
	}
	.modal #step3 #find-zip {
		width: 100%;;
	}

	#find-zip input {
		width: 100%!important;
	}

	.dr-quote {height:auto}

	.dr-quote .svc-vid ul > li {
		display: flex;
		line-height: 1.25;
		margin-bottom: 15px;
	}

	.svc-items-container {
		max-width: 100%;
	}

	.uvm-1 img, .uvm-2 img { 
		width: 126%;
		position: relative;		
	}

	.uvm-2 img {		
		width: 130%;
	}

	.uvm-1 {
		left: -16%;
	}

	.uvm-2 {
		left: -12%;
	}
	
	.svc-items .t1, .svc-items .t2 {
		top: 21%;
	}

	.svc-items .t1 {
		left: 20%;
	}

	.svc-items .t2 {
		right: -8%;
		max-width: 220px;
	}	
	.svc-items ul {
		font-family: Raleway;
		font-weight: 500;
		line-height: 1.5;
		font-size: 14px;
	}

	.services .kz-row {
		flex-direction: column;
	}

	.services .kz-row-r {
		text-align: center;
	}

	.services .pxug  h2 {
		font-size: 23px!important;		
	}

	.services .pxug h2.puvc::after {	
		font-size: 20px;
		margin-left: 18px;
	}

	.uvc-list h4 {
		display: inline-block;
		width: 100%;
		margin-top: 20px;
		margin-bottom: 5px;
	}

	.services .obs-av .c1 {
		padding-left: 0;
	}

	.services .obs-av .c2 {
		padding:20px;
		text-align: center;
	}

	.services .auto-c {
		text-align: center;
	}

	.services .auto-c h3 {
		margin: 0;
	}

	.services .auto-c p {
		max-width: 100%!important;
		margin: 20px 0 40px;
	}

	.services .comm-uvac-cont {
		flex-direction: column;
	}

	.services .comm-uvac {
		order: 1;
		margin: 40px 20px;
	}

	.services .comm-uvac .btn.btn-yellow {
		width: 100%;
		white-space: normal;
	}

	.services .cuvac-img {
		order:2;
	}

	.services .cuvac-img img {
		max-width: 400px;
	}

	.disinfect-svc .bn-text img {display: none}

	.sub-banner.disinfect-svc .bn-text h1 {		
		margin: 0 100px;
		text-align: center;
	}

	.services .eds1 #esds {
		bottom: 15px;
		right: 0;
		left: 0;
		text-align: center;
	}

	.services .eds1 #esds br {
		display: none;
	}

	.services .eds1 .btn {
		left: 57%;		
		width: 80%;		
		bottom: 43%;
	}

	.services .eds1 .btn h3 {
		font-size: 12px;
	}

	.services .eds1 .txt h2 {font-size: 20px!important;}
	.services .eds1 .txt p {display: none;}	

	.services .ecomp {	
		margin-bottom: 30px;
	}

	.services .disinfect-360 {
		padding-bottom: 40px;
		text-align: center;
	}

	.services .gbc br {
		display: none;
	}

	.bn-text p {		
		color: #4893C9;
		line-height: 1.5;
		padding: 0 10px;
		margin-top: 10px;
	}

	.services .wo-girl {	
		left: 0px;
		max-width: 200px;
	}

	.services .bgbc .pic {
		position: absolute;
	}

	.services .bgbc .content {
		position: relative!important;
		padding: 0 10px!important;
	}

	.services .gbc-hvac {
		position: relative;
		bottom: auto;
		margin-bottom: 30px;
	}

	.services .ywlu.bfc  {
		font-size: 11px;
	}

	/*** CONTACT ***/
	.contact-f {padding:20px;}	

	.uvdr-ca {	
		padding: 50px 0;		
	}

	.uvdr-ca .svc-items .ul1, .uvdr-ca .svc-items .ul2{ 
		left: 0;
		width:100%;
	}

	.services .kz.uvdd .kz-row-l {		
		padding-left: 25px;
		padding-right: 25px;
	}

	.services .kz.uvdd .kz-row-r {		
		padding-left: 25px;
		padding-top: 25px;
	}

	.services .gz-tile {
		flex-direction: column;
	}

	.services .gz-tiles .bg.flap {
		order: 1;
	}

	.services .gz-tiles .bg {
		width: 80%;
	}

	.services .gz-tiles .bg::after {
		display: none
	}


}

@media all and (max-width: 480px) {

	.show-mobile {display: inline;}

	h5 {	
		font-size: 20px;		
	}

	/*** SIGN IN ***/
	#signin .right-side {padding-top: 35px;}
	#signin a.forgot-password, #signin p.medium-title {font-size:13px;}

	#home .btn.btn-yellow {padding: 20px 20px;font-size: 11px;}

	#services-page #home-slider ul.slick-dots {bottom: -13%;}
	#home-slider ul.slick-dots li > button {height: 8px;width: 8px;}
	

	.services-two .mbg {	
		transform: translate(-20%, 20%);
	}

	.services-two .mbg h2 {
		max-width: 120px;	
		font-size: 17px!important;
	}
	.services-two .mbg p {
		max-width: 150px;
		line-height: 1.2;	
		font-size: 14px;
	}

	.services-two .service-sec {display: flex;text-align: left;}
	.services-two .service-sec .detail {
		margin-top: 0;
		margin-left: 10px;
	}	

	.services-two .service-sec .detail p {
		line-height: 1.2;
	}

	.welcome-two .welcome-detail ul li {
		width: 100%;	
	}

	.services-two .col-md-6.position-relative > img.width-auto {width: 300px;} 

	/*** SERVICES ***/
	.sub-banner .bn-text span {font-size: 30px;}
	.sub-banner .bn-text img { max-width: 55px!important;}
	.sub-banner .bn-text h1, #news .sub-banner .bn-text h4  {font-size: 26px!important;}

	
	.services .kz {padding: 50px 25px 20px;}
	.services .kz h2 {font-size: 48px;}
	.services .kz.uvdd .kz-row-l {padding:40px 20px;}
	/* .services-two .mbg h5, .services-two .mbg p {display: none;} */


	/*** UV DISINFECTION ROBOT ***/
	.services .gz-tiles .txt {
		font-size: 12px;
		top:0;
	}

	.services .gz-tiles .btn-watch {
		position: inherit;
		padding: inherit;
	}


	.services .container .obs-av {display:block;}
	.services .uvc-vid {padding-left:0;}
	.services .uvc-vid img {max-width: 365px;margin-top:20px;}	

	#services-main {padding: 20px;}


	#modify_services .content .container, #modify_services #services-main {padding: 0px;}
	#modify_services .txt-bio {padding: 15px; text-align: center;}
	#modify_services #txtjobminimum {font-size:13px;}

	#commercial_services .form {padding:0 40px}



	/*** APPLICATIONs ***/
	#applications .txt p {display: none;}

	/*** ABOUT ***/
	#about .main{width:100%;}


	/*** NEWS ***/
	#news .txt {padding:30px 0;}
	#news .media .img {width:100%;}


	#news .list {flex-direction: column}
	#news .list .c2 {width: 100%;}
	#news .list .c1 {padding-left: 0;}
	
	.news .main, .privacy .main {width:100%;padding:0 40px;}


	/*** CART ***/
	.cart__total {font-size: 18px!important;}
	#services-main .cart--quote {display: none;}

	

}