
/* ------- GERMZAPPER ------------------------------ */
#header-2 {display:none;}

.germzapper-container {
	display: flex;
	justify-content: center;
	max-width: 100%;
	width: 100%;	
}
.flex-cont {
	display: flex;
	height: 100vh;
	padding-top: 65px;
	padding-bottom: 90px;
}
.right-content.gz-content {
	max-width: 435px;
	min-width: 435px;
	margin-right: 3px;
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
	margin: auto;
	align-items: flex-start;
	position: relative;
	max-height: 100%;
	height: 100%;
	width: 100%;
	/* justify-content: center; */
	overflow-y: auto;
	flex-direction: column;	
}

.right-content.gz-content .pp {
	padding:30px 50px;	
}

.main-content {overflow: hidden;padding: 0;align-items: center;flex-grow: 3;flex-shrink: 3;flex-basis: 0;display: flex; flex-direction: column; justify-content: center;border-right:1px solid #ddd;}
.main-content > img { max-width: 592px;}
/* .germzapper .right-content {max-width: 435px;min-width: 435px;width: 435px;margin-right: 3px;} */


.fa-star::before {color: #FFBC00; font-size: 12px;}
.fa-circle::before {color:#666666; font-size: 6px;padding-right:5px;}

.germzapper .btn-ozone {background: none;border: 1px solid #ddd;  border-radius: 25px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    height: auto;
    align-items: flex-start;
    padding: 10px 20px;
    margin-bottom: 6px;
    flex-direction: column;
	/* min-width: 300px; */
	max-width: 100%;
}
.germzapper .btn-ozone.sel {border: 3px solid #24DBE0;}

.germzapper .device-specs{justify-content: space-around;width: 100%;flex-direction: column;align-items: center;display: flex;bottom: 8em;position: absolute;}
.germzapper .specs--item {width: 240px;border-right: 2px solid #ddd;text-align: center;position: relative;}
		.germzapper .specs--item:last-child {border-right: 0;}
.germzapper .specs--value {color: #000;font-size: 42px;display: block; line-height: 38px;position: relative;}
		.germzapper .specs--value .specs--value-label {font-size: 37px;line-height: 25px;}
.germzapper .specs--label {font-size: 15px;text-align: center;padding-top: 10px;display: block;}
		.germzapper .specs--label span {display: inline-block;margin-left: 5px;}

.germzapper .main-footer-container-3 {position: fixed;bottom: 0;width: 100%;z-index: 32456789765434;height:90px;}
.germzapper .finance-container {background-color: #333; color:#fff;width: 100%;height: 100%;z-index: 5003;}
.germzapper .finance-container--footer { margin: 0 auto;clear: both; height: inherit;}
.germzapper .finance-content, .finance-content--item {display: flex;align-items: center;height: inherit;}
.germzapper .finance-content {justify-content: space-between;padding: 10px 0;}
.germzapper .financetype-selector {padding: 8px 0px 8px 20px; position: relative; font-size: 13px; }
.germzapper .finance-content--item {justify-content: center;padding: 0 40px;border-right: 1px solid #555;}
.germzapper .finance-content--item:first-child { padding: 0 20px 0 50px;}
.germzapper .finance-content--item:last-child { max-width: 430px;border: 0;flex: 1 0;}
.germzapper .btn-next {background:#2FF8FD;color:#000;width: 100%; border-radius:25px;font-family:Raleway;font-weight:600;letter-spacing: 1px;}

.form {padding: 0 100px;color: #666;}
.form input[type="text"], input[type="email"], input[type="password"] {border: 0; border-radius: 35px; height:40px;font-family: centrale_sansbook;font-size: 14px;}
.form label{margin:10px;font-weight: normal;font-family: centrale_sans_bold;}
.form p {font-family: 'centrale_sans_bold';}





.tds-switch_toggle {
	display: flex;
	width: 100%;
}

.savings-toggle__Switch .savings-toggle__Switch-container {
	width: 100%;
}

.tds-switch_toggle-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	/* margin-bottom: 20px; */
	position: relative;
}

.tds-switch_toggle-checkbox {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	padding: 0;
	margin: -1px;
	border: 0;
	clip: rect(0 0 0 0);
}

.savings-toggle__Switch .switch_ozone_free .savings-toggle__Switch-toggle-track::after,
.savings-toggle__Switch .switch_stand_kit .savings-toggle__Switch-toggle-track::after {
	width: 43%;
}

.savings-toggle__Switch .switch_ozone .savings-toggle__Switch-toggle-track::after,
.savings-toggle__Switch .switch_carry_case .savings-toggle__Switch-toggle-track::after {
	width: 58%;
	transform: translateX(73%);
}

.savings-toggle__Switch .savings-toggle__Switch-container .savings-toggle__Switch-toggle-track::after {
	height: /*24px*/40px;
}

.tds-switch_toggle-track::after {
	content: "";
	width: 40px;
	background-color: #fff;
	border-radius: 40px;
	transition: transform 500ms cubic-bezier(.75,0,0,1),background-color 500ms cubic-bezier(.5,.25,.25,.75),border-color 500ms cubic-bezier(.5,.25,.25,.75);
	z-index: 10;
	left: 0;
	transform: translateX(0);
}

.tds-switch_toggle--label_inside .tds-switch_toggle-btn, .tds-switch_toggle-track::after {
	position: absolute;
	left: 0;
	width: 40px;
	height: 40px;
	border-radius: 40px;
}

.savings-toggle__Switch .savings-toggle__Switch-container .savings-toggle__Switch-toggle-track {
	width: 100%;
	height: /*33px*/50px;
}

.tds-switch_toggle-track {
	display: block;
	position: relative;
	width: 100px;
	height: 50px;
	cursor: pointer;
	text-indent: -9999px;
	background-color: #eee;
	border-radius: 50px;
	border: 5px solid #eee;
	-webkit-tap-highlight-color: rgba(255,255,255,0);
	transition: transform 500ms cubic-bezier(.75,0,0,1),background-color 500ms cubic-bezier(.5,.25,.25,.75),border-color 500ms cubic-bezier(.5,.25,.25,.75);
}



.savings-toggle__Switch .savings-toggle__Switch-container .savings-toggle__Switch-btn {
	color: #000;
	width: 50%;
	z-index: 99;
	opacity: 1;
	font-size: 12px;
	font-family: Raleway;
	margin-right: 5px;
	-ms-transform: translateY(-50%);

	
}

.tds-switch_toggle--label_inside .tds-switch_toggle-btn:last-child {
	left: inherit;
	right: 5px;
	color: #000;
	opacity: 1;
}

.tds-switch_toggle--label_inside .tds-switch_toggle-btn:nth-last-child(2) {
	color:#000;
	opacity: 1;
}

.savings-toggle__Switch .savings-toggle__Switch-container .savings-toggle__Switch-btn:last-child {
	color: #666;
	white-space: nowrap;
}

.tds-switch_toggle--label_inside .tds-switch_toggle-btn {
/*	left: 5px;*/
}

.tds-switch_toggle-btn {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	order: -1;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-transform: none;
	color: #000;
	font-size: 14px;
	transition: color 500ms cubic-bezier(.5,.25,.25,.75),opacity 500ms cubic-bezier(.5,.25,.25,.75);
}


/* -------header----------- */
.main-menu-container {
    display: flex;
    justify-content: space-between;
    min-height: 50px;
    z-index: 100;
    border-bottom: 1px solid #dfdfdf;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #fff;
}

.container-branding {
    display: grid;
    min-height: 65px;
    width: 100%;
    align-items: center;
    flex: 1;
}

.container-branding .tsla-header-main--logo_container {
    margin: 0 50px;
    cursor: pointer;
    font-size: 30px;
    line-height: 36px;
    width: 60%;
}

.logo {
   margin: 0 50px;
	cursor: pointer;
	font-size: 30px;
	line-height: 36px;
	width: 60%;
}

.package-options--nav {
    width: 100%;
    z-index: 1;
    flex: 9;
}

.packages-options--nav-list {
    display: flex;
    justify-content: center;
    list-style-position: inside;
    counter-reset: menuCounter;
    height: 100%;
    background: hsla(0,0%,100%,.3);
    list-style-type: none;
}

.packages-options--nav-item {
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
    color: #000;
    opacity: 1;
    font-size: 14px;
    transition: opacity .15s ease-in-out;
    transform: translateZ(0);
    min-width: 165px;
    max-width: 225px;
    counter-increment: menuCounter;
}

.packages-options--nav-item::before {
    content: counter(menuCounter) ".";
    padding-right: 2px;
}

.packages-options--nav-item_selected {
    box-shadow: inset 0 -5px 0 -1px #2FF8FD;
}

.packages-options--nav-item_selected ~ .packages-options--nav-item {
    opacity: .35;
}

.packages-options--nav-title {
    color: #000;
    font-size: 14px;
    font-family: 'Raleway';
    padding: 20px 0;
    display: inline-block;
    margin: 0;
    font-weight:500!important;
}

.wrap-container--next {
    padding-right: 30px;
    text-align: right;
    cursor: pointer;
}
.wrap-container--next {
    width: 220px;
    justify-content: flex-end;
    display: flex;
    align-items: center;
}


.summary-order li{
	font-family: 'centrale_sansbook';
	font-size: 14px;
	line-height: 2;

}

.success .icn {
	height:85px;position: relative;
}

.success .icn img{
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	left: 0;
	right: 0;
}

@media all and (max-width: 1024px) {
	#germzapper #page header.sticky {
		display: none!important;
	}


	#germzapper .flex-cont {
		display: block;
		height: auto;
	}

	.germzapper .main-content {
		padding-top: 60px!important;
	}

	.germzapper .main-content > img {
		max-width: 425px;
	}

	#germzapper .germzapper-container {
		display: block;
		width: 100%;		
	}

	#germzapper #gz-payment.germzapper-container {
		display: table;
	}

	.germzapper #gz-payment.germzapper-container .main-content {		
		display: table-footer-group;
		padding-bottom: 100px!important;
	}

	.germzapper #gz-payment.germzapper-container .right-content {		
		display: table-header-group;
	}

	#germzapper .device-specs {	
		position: relative;
		bottom: 0;
		padding: 3rem 0;		
	}

	.germzapper .right-content.gz-content {
		max-width: 100%;
		min-width: 100%;
		width: 100%;
		display: block;
		text-align:center
	}

	.germzapper .right-content.gz-content > .btn-ozone {
		max-width: 50%;
		margin: 10px auto;
	}

	.germzapper .specs--item {
		width: 160px;	
	}

	.germzapper .specs--value {		
		font-size: 30px;		
		line-height: 25px;		
	}

	#gz-payment .form {
		padding: 0 40px 100px;
	}




}


@media all and (max-width: 480px) {

	.package-options--nav {display: none;}

	.germzapper .main-content > img {
		max-width: 225px;
	}

	.germzapper .specs--item {
		width: 95px;
	}

	.germzapper .specs--value {
		font-size: 18px;
		line-height: 1;
	}

	.germzapper .specs--value .specs--value-label {
		font-size: 15px;
		line-height: 1;
	}

	.germzapper .specs--label {
		font-size: 10px;
		text-align: center;
		padding-top: 6px;
		display: block;
	}

	.germzapper .right-content.gz-content {	
		padding: 25px 25px 150px;
		/* display: block;		
		max-width: 100%;
		min-width: 100%; */
	}

	.germzapper .finance-content {		
		display: block;
	}
	.germzapper .finance-content, .germzapper .finance-content .tcs {
		text-align: center;
	}

	.germzapper .main-footer-container-3 {	
		height: auto;
	}

	.germzapper .finance-content--item {
		border: 0;
		display: block;
	}

	.germzapper .finance-content--item:last-child {	
		margin-top: 20px;
		max-width: 100%;
		padding: 0 20px 10px;		
	}

	.germzapper .financetype-selector {
		padding: 5px 0px;
	}

	.germzapper .right-content.gz-content .pp {
		padding: 0px;
	}

	.germzapper #gz-payment .right-content.gz-content .pp {
		padding: 20px;
	}

	.germzapper .finance-content--item:first-child {
		padding:0;
	}


	.main-footer-container-3 .delivery{display: none;}

	.form { padding: 0 60px;}


}